<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>Utils.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>PostJobController</servlet-name>
        <servlet-class>Controller.Enterprise.PostJobController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.Authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.Common.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>Controller.Authentication.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>Controller.Authentication.VerifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListJobController</servlet-name>
        <servlet-class>Controller.Common.ListJobController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobDetail</servlet-name>
        <servlet-class>Controller.Common.JobDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationController</servlet-name>
        <servlet-class>Controller.JobSeeker.ApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controller.Authentication.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterpriseDashBoardController</servlet-name>
        <servlet-class>Controller.Enterprise.EnterpriseDashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListApplicantController</servlet-name>
        <servlet-class>Controller.Enterprise.ListApplicantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListEnterpriseController</servlet-name>
        <servlet-class>Controller.Enterprise.ListEnterpriseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.Authentication.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilePassController</servlet-name>
        <servlet-class>Controller.Authentication.ProfilePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassController</servlet-name>
        <servlet-class>Controller.Authentication.ForgotPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>Controller.Authentication.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>Controller.Authentication.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppliedListController</servlet-name>
        <servlet-class>Controller.JobSeeker.AppliedListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountJobBySalaryRangeServlet</servlet-name>
        <servlet-class>Controller.Common.CountJobBySalaryRangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountJobByTypeServlet</servlet-name>
        <servlet-class>Controller.Common.CountJobByTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountJobByWorkLevelServlet</servlet-name>
        <servlet-class>Controller.Common.CountJobByWorkLevelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountEnterpriseBySizeServlet</servlet-name>
        <servlet-class>Controller.Enterprise.CountEnterpriseBySizeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterpriseDetail</servlet-name>
        <servlet-class>Controller.Enterprise.EnterpriseDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageJob</servlet-name>
        <servlet-class>Controller.Enterprise.ManageJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteJob</servlet-name>
        <servlet-class>Controller.Enterprise.DeleteJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>Controller.JobSeeker.JobseekerProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavouriteJob</servlet-name>
        <servlet-class>Controller.JobSeeker.FavouriteJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterForEnterprise</servlet-name>
        <servlet-class>Controller.Authentication.RegisterForEnterprise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateJob</servlet-name>
        <servlet-class>Controller.Enterprise.UpdateJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>Controller.Enterprise.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCandidateController</servlet-name>
        <servlet-class>Controller.Enterprise.ListCandidateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateDetail</servlet-name>
        <servlet-class>Controller.Enterprise.CandidateDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>Controller.Admin.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>Controller.Admin.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUser</servlet-name>
        <servlet-class>Controller.Admin.ManageUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEnterpriseAccountServlet</servlet-name>
        <servlet-class>Controller.Admin.DeleteEnterpriseAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTagController</servlet-name>
        <servlet-class>Controller.Admin.ManageTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostReportJob</servlet-name>
        <servlet-class>Controller.JobSeeker.PostReportJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxAutoFillController</servlet-name>
        <servlet-class>Controller.JobSeeker.AjaxAutoFillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportJob</servlet-name>
        <servlet-class>Controller.Admin.ViewReportJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFavouriteJob</servlet-name>
        <servlet-class>Controller.JobSeeker.DeleteFavouriteJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEnterpriseRequest</servlet-name>
        <servlet-class>Controller.Admin.ManageEnterpriseRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusApplicationController</servlet-name>
        <servlet-class>Controller.Enterprise.ChangeStatusApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEnterpriseDetail</servlet-name>
        <servlet-class>Controller.Admin.ViewEnterpriseDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCVController</servlet-name>
        <servlet-class>Controller.JobSeeker.ManageCVController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageJob</servlet-name>
        <servlet-class>Controller.Admin.AdminManageJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProfile</servlet-name>
        <servlet-class>Controller.Admin.AdminEditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditResumeController</servlet-name>
        <servlet-class>Controller.JobSeeker.EditResumeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSkillController</servlet-name>
        <servlet-class>Controller.JobSeeker.AddSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExperienceController</servlet-name>
        <servlet-class>Controller.JobSeeker.AddExperienceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSkillController</servlet-name>
        <servlet-class>Controller.JobSeeker.DeleteSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditExperienceController</servlet-name>
        <servlet-class>Controller.JobSeeker.EditExperienceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExperience</servlet-name>
        <servlet-class>Controller.JobSeeker.DeleteExperience</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEducationController</servlet-name>
        <servlet-class>Controller.JobSeeker.AddEducationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEducationController</servlet-name>
        <servlet-class>Controller.JobSeeker.EditEducationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEducationController</servlet-name>
        <servlet-class>Controller.JobSeeker.DeleteEducationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusJob</servlet-name>
        <servlet-class>Controller.Admin.ChangeStatusJob</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostJobController</servlet-name>
        <url-pattern>/PostJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/LoginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/VerifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListJobController</servlet-name>
        <url-pattern>/Job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDetail</servlet-name>
        <url-pattern>/JobDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationController</servlet-name>
        <url-pattern>/ApplyJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterpriseDashBoardController</servlet-name>
        <url-pattern>/EnterpriseDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListApplicantController</servlet-name>
        <url-pattern>/Applicant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEnterpriseController</servlet-name>
        <url-pattern>/Enterprise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilePassController</servlet-name>
        <url-pattern>/profilepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassController</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/validateotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/newpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppliedListController</servlet-name>
        <url-pattern>/AppliedList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountJobBySalaryRangeServlet</servlet-name>
        <url-pattern>/countJobBySalaryRangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountJobByTypeServlet</servlet-name>
        <url-pattern>/countJobByTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountJobByWorkLevelServlet</servlet-name>
        <url-pattern>/countJobByWorkLevelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountEnterpriseBySizeServlet</servlet-name>
        <url-pattern>/countEnterpriseBySizeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterpriseDetail</servlet-name>
        <url-pattern>/EnterpriseDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageJob</servlet-name>
        <url-pattern>/ManageJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteJob</servlet-name>
        <url-pattern>/DeleteJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavouriteJob</servlet-name>
        <url-pattern>/FavouriteJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterForEnterprise</servlet-name>
        <url-pattern>/Register/Enterprise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateJob</servlet-name>
        <url-pattern>/UpdateJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EnterpriseDashBoard/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCandidateController</servlet-name>
        <url-pattern>/Candidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateDetail</servlet-name>
        <url-pattern>/CandidateDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUser</servlet-name>
        <url-pattern>/ManageUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEnterpriseAccountServlet</servlet-name>
        <url-pattern>/DeleteEnterpriseAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTagController</servlet-name>
        <url-pattern>/ManageTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostReportJob</servlet-name>
        <url-pattern>/ReportJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxAutoFillController</servlet-name>
        <url-pattern>/AutoFillApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportJob</servlet-name>
        <url-pattern>/ViewReportJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFavouriteJob</servlet-name>
        <url-pattern>/DeleteFavouriteJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEnterpriseRequest</servlet-name>
        <url-pattern>/ManageEnterpriseRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusApplicationController</servlet-name>
        <url-pattern>/ChangeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEnterpriseDetail</servlet-name>
        <url-pattern>/AdminEnterpriseDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCVController</servlet-name>
        <url-pattern>/manageCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageJob</servlet-name>
        <url-pattern>/AdminManageJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProfile</servlet-name>
        <url-pattern>/AdminEditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditResumeController</servlet-name>
        <url-pattern>/EditResume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSkillController</servlet-name>
        <url-pattern>/addSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExperienceController</servlet-name>
        <url-pattern>/addExperience</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSkillController</servlet-name>
        <url-pattern>/deleteSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditExperienceController</servlet-name>
        <url-pattern>/editExperience</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExperience</servlet-name>
        <url-pattern>/deleteExperience</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEducationController</servlet-name>
        <url-pattern>/addEducation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEducationController</servlet-name>
        <url-pattern>/editEducation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEducationController</servlet-name>
        <url-pattern>/deleteEdu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusJob</servlet-name>
        <url-pattern>/ChangeStatusJob</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
